<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{_('Moy Sklad settings')}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
	<style>
	body {
		font-family:"Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	}
	.scrl-content {
		height: 120px;
		overflow-y:scroll;
	}
	.btn-ms {
		padding: 5px 15px;
		border: 1px solid;
		border-radius: 8px;
		font-size: 14px;
		line-height: 20px;
		--side-margins: 24px;
		--hover-color: #005dc9;
		color: var(--hover-color);
		border-color: var(--hover-color);
		background: rgba(0,0,0,0);
		width:45%;
	}
	.a-btn {
		padding: 5px 15px;
		border: 1px solid;
		border-radius: 8px;
		font-size: 14px;
		line-height: 20px;
		--side-margins: 24px;
		--hover-color: #005dc9;
		color: var(--hover-color);
		border-color: var(--hover-color);
		background: rgba(0,0,0,0);
		text-decoration: none;
		float: right;
	}
	.list-item {
		font-size: 14px;
	}
	#contextMenu {
		position: absolute;
		display:none;
	}
	.primary-item {
		font-weight: bold;
		color: blueviolet;
	}
	body.loading .modal-wait {
    	overflow: hidden;
	}
	body.loading .modal-wait {
		display: block;
	}
	.modal-wait {
		display:    none;
		position:   fixed;
		z-index:    1000;
		top:        0;
		left:       0;
		height:     100%;
		width:      100%;
		background: rgba( 255, 255, 255, .8 ) 
					url('https://napmobile.ru/static/wait.gif')
					50% 50% 
					no-repeat;
	}
	</style>
  </head>
  <body>	
	<div class="container px-4">	

{% if data.isAdmin %}

	<div class='row' style="margin-bottom:8px">
		<div class="col-4">
			<button type="button" class="btn-ms" id="load-data" >{{_('Load new docs')}}</button>
			<button type="button" class="btn-ms" style="margin-left:8px" id="unload-data" >{{_('Put data')}}</button>
		</div>
		<div class="col-4 ms-auto">
			<button type="button" class="btn-ms" style="width: 47%;" data-bs-toggle="modal" data-bs-target="#apps-dlg" >{{_('Applications')}}</button>
			<a class="a-btn" href="https://napmobile.ru/login" target="_blank" >{{_('AceTeam Personal Area')}}</a>
		</div>

	<div class="form-check form-switch" hidden>
	  <input class="form-check-input" type="checkbox" role="switch" id="autosync">
	  <label class="form-check-label" for="autosync">{{_('Auto syncing')}}</label>
	</div>

	</div>

	<div id="apps-dlg" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="apps-title">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title" id="apps-title">{{_('Resources AceTeam')}}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			  </div>
			  <div class="modal-body">
				<div style="display: flex;">
					<div style="float: left; width: 100%;">
						<b>{{_('Mobile application for agent')}}</b> <br/>
						(Android OS)<br/>
						<a href="#" id="copy-app-link">{{_('Copy link')}}</a><br/>
						{{_('(to send to a mobile device)')}}
					</div>
					<img src="https://napmobile.ru/static/app_android_qr.png" width="120" height="120" style="float: right;" />
				</div>

				<b>{{_('Manager prog and manuals')}}</b><br/>
				<a href="https://disk.yandex.ru/d/07j14ERzYTYZpw" target="_blank" id="copy-app-link">{{_('Copy archive')}}</a>
				<p></p>
				<b>{{_('Step-by-step manuals')}}</b><br/>
				<a href="https://grsoft.ru/mobilnaya-torgovlya-i-moysklad/" target="_blank" id="copy-app-link">{{_('Open AceTeam site')}}</a><br/>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{_('Close')}}</button>
			  </div>
			</div>
		  </div>
	</div>

	<div class="col-auto alert alert-success" role='alert' id="info-text" hidden>
		
	</div>

	<div class="col-auto alert alert-warning" role='alert' id="no-code-text" hidden>
		
	</div>

	
	<div class='row mb'>
		<div class="col-5">
			<div class="input-group mb-2">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">{{_('Project code')}}</span>
				</div>
				<input type="text" class="form-control" id="server-code" placeholder="{{_('Enter code')}}" value="{{data.account.srv_token}}" aria-label="Username" aria-describedby="basic-addon1">
			</div>
		</div>
		</div>
	
	<div class='row column-gap-3'>
	<div class='col border border-primary shadow pb-4 pt-2'>
		<b>{{_('Agents')}}</b>
		<div class="list-group scrl-content" id="agents">
            {% for el in data.agents %}
                <label class="list-group-item list-item">
                <input class="form-check-input me-1" type="checkbox" data-text="{{el.name}}" {% if el.assigned %} checked {% endif %} value="{{el.id}}">
                    {{el.name}}
                </label>
            {% endfor %}
		</div>
	</div>
	<div class='col border border-primary shadow pb-4 pt-2'>
		<b>{{_('Firms')}}</b>
		<div class="list-group scrl-content" id="firms">
            {% for el in data.firms %}
                <label class="list-group-item list-item {% if el.primary %}primary-item{% endif %}">
                <input class="form-check-input me-1" type="checkbox" data-text="{{el.name}}" {% if el.assigned %} checked {% endif %} value="{{el.id}}">
                    {{el.name}}
                </label>
            {% endfor %}
		</div>
	</div>
	</div>
	<div class='row column-gap-3 mt-2'>
	<div class='col border border-primary shadow pb-4 pt-2'>
		<b>{{_('Stores')}}</b>
        <div class="list-group scrl-content" id="stores">
            {% for el in data.stores %}
                <label class="list-group-item list-item {% if el.primary %}primary-item{% endif %}">
                <input class="form-check-input me-1" type="checkbox" data-text="{{el.name}}" {% if el.assigned %} checked {% endif %} value="{{el.id}}">
                    {{el.name}}
                </label>
            {% endfor %}
		</div>
	</div>
	<div class='col border border-primary shadow pb-4 pt-2'>
		<b>{{_('Folders')}}</b>
        <div class="list-group scrl-content" id="folders">
            {% for el in data.folders %}
                <label class="list-group-item list-item">
                <input class="form-check-input me-1" type="checkbox" data-text="{{el.name}}" {% if el.assigned %} checked {% endif %} value="{{el.id}}">
                    {{el.name}}
                </label>
            {% endfor %}
		</div>
	</div>
	</div>

	<div id="contextMenu" class="dropdown clearfix">
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;text-align:center;">
		  <li>{{_('Set as primary')}}</li>
		</ul>
	</div>

{% else %}

{{_("There isn't right to view settings")}}

{% endif %}

	</div>
	<script>
		const s_code = '{{ data.account.srv_token }}'

		function showAlert(message) {
			alrt = $('#no-code-text')
			alrt.attr('hidden', false)
			alrt.html(message)
		}

		function showInfo(message) {
			alrt = $('#info-text')
			alrt.attr('hidden', false)
			alrt.html(message)
		}

		function makeUnloadInfo(stat) {
			if(stat) {
				text = "<table>"
				text += '<tr><td>Выгружено агентов</td><td style="text-align:right;padding-left: 10px;">' + stat.agents +'</td>'
				text += '<td style="padding-left:16px">Контрагентов</td><td style="text-align:right;padding-left: 10px;">' + stat.orgs 
					+'</td></tr>'
				text += '<tr><td>Товаров</td><td style="text-align:right;padding-left: 10px;">' + stat.price +'</td>'
				text += '<td style="padding-left:16px">Реализаций</td><td style="text-align:right;padding-left: 10px;">' + stat.dlv 
					+'</td></tr>'
				// text += '<tr><td>{{_("Unloaded agents")}}</td><td style="text-align:right">' + stat.agents +'</td></tr>'
				// text += '<tr><td>{{_("Orgs")}}</td><td style="text-align:right">' + stat.orgCount +'</td></tr>'
				// text += '<tr><td>{{_("Goods")}}</td><td style="text-align:right">' + stat.priceCount +'</td></tr>'
				// text += '<tr><td>{{_("Deliveries")}}</td><td style="text-align:right">8' + stat.dlvCount +'</td></tr>'
				text += "</table>"

				showInfo(text);
			} else {
				showInfo('{{_("Unload data success")}}')
			}
		}

		function makeLoadInfo(stat) {
			if(stat) {
				text = "<table>"
				text += '<tr><td>Загружено заказов</td><td style="text-align:right;padding-left: 10px;">' + stat.orders +'</td></tr>'
				text += '<tr><td>Загружено возвратов</td><td style="text-align:right;padding-left: 10px;">' + stat.returns +'</td></tr>'
				text += '<tr><td>Загружено ПКО</td><td style="text-align:right;padding-left: 10px;">' + stat.incass +'</td></tr>'
				// text += '<tr><td>{{_("Load orders")}}</td><td style="text-align:right">' + stat.orders +'</td></tr>'
				// text += '<tr><td>{{_("Load returns")}}</td><td style="text-align:right">' + stat.returns +'</td></tr>'
				// text += '<tr><td>{{_("Load incass")}}</td><td style="text-align:right">' + stat.incass +'</td></tr>'
				text += "</table>"

				showInfo(text);
			} else {
				showInfo('{{_("Load docs success")}}')
			}
		}

		function hideAlert() {  
			var inf = $('#no-code-text')
			inf.html('')
			inf.attr('hidden', true) 

			inf = $('#info-text')
			inf.attr('hidden', true) 
			inf.html('')
		}

		function loadChecked(elId) {
			ret = []
			$('#'+elId + ' :checked').each(function(idx) {
				el = $(this)
				v = {'id':el.val(), 'name':el.data('text')};
				if(el.parent().hasClass('primary-item')) {
					ret.unshift(v)
				} else {
					ret.push(v)
				}
			})
			return ret
		}

		function putData(serverCode) {
			url = '{{url_for("moysklad.putDataToServer", accountId=data.account.accid)}}'
			data = null
			elements = loadChecked('folders')
			if(elements.length) {
				data = {'folders':elements}
			}

			$.ajax({
					url:url,
					headers:{'Authorization':'Bearer ' + serverCode},
					method:'POST',
					contentType:'application/json; charset=utf-8',
					dataType:'json',
					timeout: 5 * 60 * 1000,
					data: JSON.stringify(data)
				}).done(function(data){
					$('body').removeClass('loading')
					makeUnloadInfo(data.stat)
					console.log(data)
				}).fail(function(xhr){
					$('body').removeClass('loading')
					console.log(xhr.responseText)
					showAlert("Ошибка при выгрузке данных<br/>" + xhr.responseJSON.message)
				})
		}

		function putBasicData(serverCode) {
			entrs = {'agents':'Agents', 'firms':'Firm', 'stores':'Stores'}
			data = []
			for( const [key, val] of Object.entries(entrs) ) {
				elements = loadChecked(key)
				if(elements.length) {
					data.push({"name":val,"where":"","data":elements})
				}
			}

			if(data.length > 0) {
				url = '/grs/object'
				$.ajax({
					url:url,
					headers:{'Authorization':'Bearer ' + serverCode},
					method:'PUT',
					contentType:'application/json; charset=utf-8',
					dataType:'json',
					data:JSON.stringify(data)
				}).done(function(data){
					console.log('put base', data)
					putData(serverCode)
				}).fail(function(xhr){
					$('body').removeClass('loading')
					console.log(xhr.responseText)
					if(xhr.responseText.toLowerCase().includes('norecords')) {
						showAlert("Ошибка при выгрузке данных<br/>" + "Не найден код проекта")
					} else {
						showAlert("Ошибка при выгрузке данных<br/>" + xhr.responseText)
					}
				})
			} else {
				$('body').removeClass('loading')
				showAlert("Укажите параметры для выгрузки данных (агенты, организации, склады)");
			}
		}

		function putToServer(e) {			
			hideAlert()

			var serverCode = $('#server-code').val()
			if(serverCode.length == 0) {
				showAlert('{{_("Enter project code")}}')
				return
			}
			$('body').addClass('loading')
			if(s_code != serverCode) {
				url = '{{url_for("moysklad.updateServerCode", accountId=data.account.accid)}}'
				$.ajax({
					url: url,
					method:'PUT',
					contentType:'application/json; charset=utf-8',
					dataType:'json',
					data:JSON.stringify({'code':serverCode})
				}).done(function(data){
					if(!data.error) {
						putBasicData(serverCode)
					} else {
						showAlert(data.message)
					}
				}).fail(function(xhr){
					$('body').removeClass('loading')
					showAlert(xhr.responseJSON.message)
				})
			} else {
				putBasicData(serverCode)
			}
		}

		function getFromServer() {
			hideAlert()

			var serverCode = $('#server-code').val()
			if(serverCode.length == 0) {
				showAlert('{{_("Enter project code")}}')
				return
			}

			$('body').addClass('loading')
			url = '{{url_for("moysklad.loadDocs", accountId=data.account.accid)}}'
			$.ajax({
					url: url,
					method:'GET',
					contentType:'application/json; charset=utf-8',
					dataType:'json',
				}).done(function(data){
					$('body').removeClass('loading')
					console.log(data)
					if(!data.error) {
						makeLoadInfo(data.stat)
					} else {
						showAlert("Ошибка при загрузке данных<br/>" + data.message)
					}
				}).fail(function(xhr){
					$('body').removeClass('loading')
					showAlert("Ошибка при загрузке данных<br/>" + xhr.responseJSON.message)
				})
		}

		$(document).ready(function(){
			var cmenu = $('#contextMenu')
			$('#stores label').on('contextmenu', function(e){
				cmenu.css({
					display: "block",
					left: e.pageX,
					top: e.pageY
				});
				cmenu.target = e.target
				return false;
			})

			$('#firms label').on('contextmenu', function(e){
				cmenu.css({
					display: "block",
					left: e.pageX,
					top: e.pageY
				});
				cmenu.target = e.target
				return false;
			})

			cmenu.on('click', 'li', function(el){
				cmenu.hide()
				$(cmenu.target).siblings().removeClass('primary-item')
				$(cmenu.target).addClass('primary-item')
				console.log(el)
			})

			$('body').click(function(){
				cmenu.hide()
			})

			$('#unload-data').on('click', putToServer)
			$('#load-data').on('click', getFromServer)
			$('#copy-app-link').on('click', function(){
				navigator.clipboard.writeText("https://grsoft.ru/AceTeam.apk")
				$('#copy-app-link').text('{{_("Copied")}}')
			})
		});
	</script>
	<div class="modal-wait"></div>
	<script type="text/javascript" src="https://apps-api.moysklad.ru/js/ns/appstore/app/v1/moysklad-iframe-expand-3.js"></script>
  </body>
</html>
