<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.grsoft.manager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:debuggable="true"
        android:name="ManagerApp"
        android:allowBackup="true"
        android:icon="@drawable/pictograms"
        android:label="@string/app_name"
        android:theme="@style/ManagerTheme" >
        <activity
            android:name="Manager"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.grsoft.napoleon.manager.TestActivity" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.grsoft.manager.ManagerConfigurationivity" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.grsoft.manager.UpdateDBEx" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.grsoft.manager.AgentRoute" android:screenOrientation="landscape"  android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.grsoft.manager.EditorsItems" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.grsoft.manager.Editors" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.grsoft.manager.RatingActionEdit" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.grsoft.manager.Preview" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.grsoft.manager.History" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.grsoft.manager.HistoryMessage" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.grsoft.manager.ManagerConfiguration" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.grsoft.manager.DocDetail" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.grsoft.manager.LicenseConfig" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.grsoft.manager.OrderDetail" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.grsoft.manager.RemnantsDetail" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.grsoft.manager.VisitDetail" android:screenOrientation="landscape"  android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.grsoft.manager.QuestionDetail" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.grsoft.manager.OrgTaskList" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.grsoft.manager.EditOrgTask" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.grsoft.manager.ManagerTaskList" android:configChanges="keyboard|keyboardHidden|orientation"/>
        
        <service
            android:name="com.grsoft.napoleon.Shared"
            android:exported="true"
            android:process=":shared"
            tools:ignore="ExportedService" >
            <intent-filter>
                <action android:name="com.grsoft.napoleon.ExchangeService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service android:name="com.grsoft.util.ReportService" />
        
        <activity android:name="com.grsoft.napoleon.CrashReport" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.network.BaseSimpleActivity" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.manager.Documents" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.manager.DeliveryDetail" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <service android:name="com.grsoft.util.NapoleonServiceW"/>
    </application>

</manifest>