<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="@string/version" package="com.grsoft.napoleon" android:versionCode="5">
      
    <supports-screens android:resizeable="true"/>
    <uses-sdk android:minSdkVersion="4"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>  
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-feature android:name="android.hardware.camera"/>
    
    <!-- Camera features. I think it can bring an installation problem 
    	
 		<uses-feature android:name="android.hardware.camera.autofocus" />  
 		-->
 	
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <!--  
    	<uses-permission android:name="android.permission.FLASHLIGHT"/>
    	<uses-feature android:name="android.hardware.camera.flash" />
 	-->
 	
    <application android:debuggable="true" 
        android:icon="@drawable/pictograms" 
        android:label="@string/app_name" 
        android:name="com.grsoft.napoleon.NapoleonApp"
        android:theme="@style/Napoleon">
    
    	<receiver android:enabled="true" 
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" 
            android:name="com.grsoft.util.BootUpReceiver">

        	<intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
        	</intent-filter>
		</receiver>
    	
    	<activity android:label="@string/app_name" 
            android:launchMode="singleTask" 
            android:name="com.grsoft.napoleon.NapoleonEx"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        	
        	<intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
		
		<uses-library android:name="android.test.runner"/>
		
		<activity android:name="com.grsoft.napoleon.Configuration" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		<activity android:name="com.grsoft.napoleon.UpdateDB" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		<activity android:name="com.grsoft.napoleon.VisitEdit" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		<activity android:name="com.grsoft.napoleon.Documents" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		<activity android:name="com.grsoft.napoleon.DocumentsEx"  android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		<activity android:name="com.grsoft.napoleon.CreateOrder" android:windowSoftInputMode="stateHidden|adjustResize" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		<activity android:name="com.grsoft.napoleon.PriceCount" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		<activity android:name="OrderDetail" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		<activity android:name="DeliveryDetail" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		<activity android:name="VisitEdit" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		<activity android:name="CameraPreview" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		<activity android:name="DocList" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		<activity android:name="DocListEx" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		<activity android:name="Messages" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		<activity android:name="RemnantsDetail" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		<activity android:name="SettingEx" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		<activity android:name="PhotoSetting" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		<activity android:name="BehaviorSetting" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		<activity android:name="GpsSetting" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		<service android:name="com.grsoft.util.NapoleonService"/>
		<activity android:name="OrderDeliveryDetail" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		<activity android:name="PricePresentation" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		<activity android:name="Presentation" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		<activity android:name="WarehouseSetting" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		
		<receiver android:name="com.grsoft.util.SystemActionReciever" 
 			android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
 		
			<intent-filter>
				<action android:name="android.location.PROVIDERS_CHANGED"/>
				<action android:name="android.intent.action.TIME_SET"/>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
				<action android:name="android.intent.action.ACTION_SHUTDOWN"/>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</receiver>
		
		<activity android:name=".CrashReport" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		<activity android:name="PotenzialOrg" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		<activity android:name="TaskForm" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		<activity android:name="FocusItemEditor" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		<activity android:name="IncassEdit" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
  		<activity android:name="com.grsoft.script.ScriptEdit" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		<activity android:name="QuestAnswer" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		<activity android:name="QuestionWebView" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		<activity android:name="ReturnDetail" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		<activity android:name="CreateReturn" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		<activity android:name="WarehouseEx" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		<activity android:name="CalendarActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
	    <service android:name="com.grsoft.util.ReportService"/>
		<activity android:name="CalendarActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		<activity android:name="com.grsoft.napoleon.UpdateDBEx" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		<activity android:name="CreateOrg" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		<activity android:name="RemnantsDetailEx" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.grsoft.napoleon.GPSGatherEdit" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.grsoft.napoleon.MoneyProxyForm" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.grsoft.napoleon.OrgTaskList" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.grsoft.napoleon.UpdateDBW" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.grsoft.napoleon.BehaviorSettingW" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.grsoft.napoleon.WarehouseSettingW" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.grsoft.napoleon.PresentationFolderW" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.grsoft.napoleon.PresentationFolder" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.grsoft.napoleon.PriceCountW" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.grsoft.napoleon.ReportList" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.grsoft.napoleon.ReportParams" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.grsoft.napoleon.ReportView" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.grsoft.napoleon.ScriptsList" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.grsoft.napoleon.DocumentsW" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.grsoft.napoleon.IncassDebDistrEdit" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.grsoft.napoleon.Warehouse" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.grsoft.napoleon.WarehouseNewW" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.grsoft.napoleon.ClientCardView" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.grsoft.napoleon.PricePresentationFolder" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.grsoft.napoleon.VisitEditEx" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <service android:name="com.grsoft.util.NapoleonServiceW"/>
        <activity android:name="com.grsoft.network.BaseSimpleActivity" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.QuestAttachmentsList" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.DispositionActivity" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.QuestEdit" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.DocumentsBase" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.Napoleon" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.VisitEditNew" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.WarehouseNew" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.PlanogramEdit" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.Setting" android:configChanges="keyboard|keyboardHidden|orientation"/>
         
         <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.grsoft.napoleon.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/providers_path" />
        </provider>
         
</application>

    <instrumentation android:label="All Tests" android:name="com.grsoft.tests.NapoleonInstrumentationTestRunner" android:targetPackage="grsoft.napoleon"/>
</manifest>
