<?xml version='1.0' encoding="windows-1251"?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
   <Fragment Id='ManagerPDA'>
      <Feature Id='ManagerPDA' Title='Наполеон-Андроид' Description='Руководство пользователя на КПК Андроид' Level='1' Display='3'
               ConfigurableDirectory='_PRODUCT' Absent='allow'>
         <ComponentRef Id='ManagerPDAComponents' />
        <ComponentGroupRef Id='Docs' />
      </Feature>

      <DirectoryRef Id='_PRODUCT' >
         <Component Id='ManagerPDAComponents' Guid='6CCE0935-E981-4FB6-B8B7-175F8E69B379'>
           <File Id='ManagerPDA_pdf' Name='ManagerPDA.pdf' DiskId='1' Source='ManagerPDA.pdf' KeyPath='yes'>
               <Shortcut Id='ManagerPDA_DOC' Directory='Docs' Name='ManagerAndroid'
                         Description='"Мобильный менеджер" руководство пользователя' Advertise='yes'/>
            </File>
         </Component>
      </DirectoryRef>
   </Fragment>
</Wix>