<?xml version='1.0' encoding="windows-1251"?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
   <Fragment Id='ODBC'>
      <Feature Id='ODBC_x64' Title='ODBC Driver' Description='Драйвер для подключение к СУБД через ODBC' 
               Absent='allow' ConfigurableDirectory='_PRODUCT' Level='1' >
         <ComponentRef Id='ODBCFtr' />
        <ComponentGroupRef Id='Docs' />
      </Feature>

      <DirectoryRef Id='_PRODUCT' >
         <Component Id='ODBCFtr' Guid='edff1b57-a36c-4dcf-af09-040cde9ae003'>
           <File Id='ODBC_dll' Name='ODBC_x64.dll' DiskId='1' Source='ODBC_x64.dll' KeyPath='yes' />
            <File Id='ODBC_pdf' Name='ODBC.pdf' DiskId='1' Source='ODBC.pdf' />
         </Component>
      </DirectoryRef>
   </Fragment>
</Wix>