<?xml version='1.0' encoding="windows-1251"?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Fragment Id='PythonReporter'>
    <Feature Id='PythonReporter' Title='модуль Python' Description='Python для отчетов'
              Absent='allow' ConfigurableDirectory='_PRODUCT' Level='1' >
      <ComponentRef Id='PythonFiles'/>
      <ComponentRef Id='MSCRT'/>
      <ComponentGroupRef Id='PythonLibFiles'/>
    </Feature>

    <DirectoryRef Id='_PRODUCT' >
      <Component Id='PythonFiles' Guid='E71FC952-F804-4f11-901C-B7B01CFFA454'>
        <File Id='python27_dll' Name='python27.dll' DiskId='1' Source='python27.dll' />
        <File Id='reporter_dll' Name='Reporter.dll' DiskId='1' Source='Reporter.dll' />
      </Component>
      <Directory Id='MSCRT' Name='Microsoft.VC90.CRT'>
        <Component Id='MSCRT' Guid='C39ED897-1D58-428c-8AA9-DE38BB41B619'>
          <File Id='Microsoft_VC90_CRT_manifest' Name='Microsoft.VC90.CRT.manifest' DiskId='1' Source='Microsoft.VC90.CRT.manifest' />
          <File Id='msvcm90_dll' Name='msvcm90.dll' DiskId='1' Source='msvcm90.dll' />
          <File Id='msvcp90_dll' Name='msvcp90.dll' DiskId='1' Source='msvcp90.dll' />
          <File Id='msvcr90_dll' Name='msvcr90.dll' DiskId='1' Source='msvcr90.dll' />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>