<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.grsoft.napoleon"
      android:versionCode="1"
      android:versionName="@string/version">
    <uses-sdk android:minSdkVersion="4" />

	<supports-screens android:resizeable="true" />

    <uses-feature android:name="android.hardware.camera"/>

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>  

    <application android:label="@string/app_name" 
    	android:icon="@drawable/pictograms"
    	android:debuggable="true"
    	android:name="com.grsoft.napoleon.NapoleonApp">
        <activity android:label="@string/app_name" android:name="Napoleon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<service android:name="com.grsoft.util.NapoleonService"></service>
		<activity android:name="UpdateDB"></activity>
		<activity android:name="DocList"></activity>
		<activity android:name="Documents"></activity>
		<activity android:name="Warehouse"></activity>
		<activity android:name="Messages"></activity>
		<activity android:name="Setting"></activity>
		<activity android:name="CameraPreview"></activity>
		<activity android:name="PhotoSetting"></activity>
		<activity android:name="BehaviorSetting"></activity>
		<activity android:name="GpsSetting"></activity>
		<activity android:name="Configuration"></activity>
		<activity android:name="GoodRestForm"></activity>

       <activity android:name="VisitEdit"></activity>
       <activity android:name="CreateOrder"></activity>
       <activity android:name="PriceCount"></activity>
       <activity android:name="OrderDetail"></activity>
       <activity android:name="DeliveryDetail"></activity>
       <activity android:name="VisitEdit" />
       <activity android:name="DocList"></activity>
       <activity android:name="RemnantsDetail"></activity>
       <activity android:name="OrderDeliveryDetail"></activity>
       <activity android:name="PricePresentation"></activity>
       <activity android:name="Presentation"></activity>

    </application>
</manifest>