<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="@string/version" package="com.grsoft.napoleon.galla2">
      
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>  
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-feature android:name="android.hardware.camera" />
    
    <!-- Camera features. I think it can bring an installation problem 
    	
 		<uses-feature android:name="android.hardware.camera.autofocus" />  
 		-->
 	
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
 	
    <application android:debuggable="true" android:icon="@drawable/pictograms" android:label="@string/app_name" android:name="com.grsoft.napoleon.NapoleonApp">
    
    	<receiver android:enabled="true" android:permission="android.permission.RECEIVE_BOOT_COMPLETED" android:name="com.grsoft.util.BootUpReceiver">

        	<intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
        	</intent-filter>
		</receiver>
    	
    	<activity android:label="@string/app_name" android:launchMode="singleTask" android:name="com.grsoft.napoleon.Napoleon">
        	
        	<intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
		
		<uses-library android:name="android.test.runner"/>
		
		<activity android:name="com.grsoft.napoleon.Configuration"/>
		<activity android:configChanges="keyboardHidden|orientation" android:name="com.grsoft.napoleon.UpdateDB"/>
		<activity android:name="com.grsoft.napoleon.VisitEdit"/>
		<activity android:name="com.grsoft.napoleon.Documents"/>
		<activity android:name="com.grsoft.napoleon.CreateOrder"/>
		<activity android:name="com.grsoft.napoleon.Warehouse"/>
		<activity android:name="com.grsoft.napoleon.PriceCount"/>
		<activity android:name="com.grsoft.napoleon.OrderDetail"/>
		<activity android:name="com.grsoft.napoleon.DeliveryDetail"/>
		<activity android:name="com.grsoft.napoleon.VisitEdit"/>
		<activity android:name="com.grsoft.napoleon.CameraPreview"/>
		<activity android:name="com.grsoft.napoleon.DocList"/>
		<activity android:name="com.grsoft.napoleon.Messages"/>
		<activity android:name="com.grsoft.napoleon.RemnantsDetail"/>
		<activity android:name="com.grsoft.napoleon.Setting" android:configChanges="keyboardHidden|orientation"/>
		<activity android:name="com.grsoft.napoleon.PhotoSetting"/>
		<activity android:name="com.grsoft.napoleon.BehaviorSetting"/>
		<activity android:name="com.grsoft.napoleon.GpsSetting"/>
		<service android:name="com.grsoft.util.NapoleonService"/>
		<activity android:name="com.grsoft.napoleon.OrderDeliveryDetail"/>
		<activity android:name="com.grsoft.napoleon.PricePresentation" android:noHistory="true"/>
		<activity android:name="com.grsoft.napoleon.Presentation"/>
		<activity android:name="com.grsoft.napoleon.WarehouseSetting"></activity>
		
		<receiver android:enabled="true" 
			android:permission="android.permission.RECEIVE_BOOT_COMPLETED" 
			android:name="com.grsoft.util.BootUpReceiver">

        	<intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
        	</intent-filter>
		</receiver>
		
		<receiver android:name="com.grsoft.util.SystemActionReciever" 
 			android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
 		
			<intent-filter>
				<action android:name="android.location.PROVIDERS_CHANGED"/>
				<action android:name="android.intent.action.TIME_SET"/>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
				<action android:name="android.intent.action.ACTION_SHUTDOWN"/>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</receiver>
		
		<activity android:name="com.grsoft.napoleon.CrashReport"></activity>
		<activity android:name="com.grsoft.napoleon.DocumentsEx"></activity>
  		<activity android:name="com.grsoft.napoleon.CalendarActivity"/>
	        <service android:name="com.grsoft.util.ReportService"/>

</application>

    <instrumentation android:label="All Tests" android:name="com.grsoft.tests.NapoleonInstrumentationTestRunner" android:targetPackage="grsoft.napoleon"/>
<supports-screens android:resizeable="true"/>
<uses-sdk android:minSdkVersion="4"/>
<uses-permission android:name="android.permission.CALL_PHONE"/>
</manifest>
