<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
<!--    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>-->


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".Notes" />

        <activity
            android:name=".Notes"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
        </activity>

        <activity android:name=".Calculator" />
        <activity android:name=".NoteEdit" />
        <activity android:name="Tasks" android:launchMode="singleTask"/>
        <activity android:name=".TaskEdit" />
        <activity android:name=".NoteItemEdit" />
        <activity android:name=".TaskCalendarActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

        <receiver android:name=".AlarmReciever"
            android:enabled="true"
            android:exported="false"/>
        <service android:name=".AlarmService"
            android:exported="false"/>

        <receiver android:name=".AlarmTaskReciever"
            android:enabled="true"
            android:exported="false"/>
        <service android:name=".AlarmTaskService"
            android:exported="false"/>
    </application>
</manifest>