<?xml version='1.0' encoding="windows-1251"?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Fragment Id='Common'>
    <PropertyRef Id="NETFRAMEWORK45" />
    <PropertyRef Id="NETFRAMEWORK20" />

    <Property Id="ReqDotNet" Value="4.5" />


    <DirectoryRef Id='_PRODUCT' >
      <!--<Component Id='UpdateComponents' Guid='59894279-981E-40c9-BA9C-9A73B026AF61'>
           <File Id='GRUpdate_exe' Name='GRUpdate.exe' DiskId='1' Source='GRUpdate.exe' KeyPath='yes'/>
         </Component>-->
      <Component Id='GRPacket' Guid='FDED86CD-910C-4ffb-BAB2-C2F78CCAC898'>
        <File Id='GRPacket_dll' Name='GRPacket.dll' DiskId='1' Source='GRPacket.dll' KeyPath='yes'/>
      </Component>
    </DirectoryRef>
    <UI>
      <Dialog Id="DotNetWarningDlg" Width="284" Height="73" Title="Отсутствует Microsoft .Net [ReqDotNet]" NoMinimize="yes">
        <Control Id="Text" Type="Text" X="38" Y="8" Width="240" Height="40" TabSkip="no">
          <Text>ВНИМАНИЕ! На компьютере отсутствует Microsoft .Net [ReqDotNet] часть компонентов комплекса будет недоступна</Text>
        </Control>
        <Control Id="OK" Type="PushButton" X="114" Y="52" Width="56" Height="17" Default="yes"  Cancel="yes" Text="OK">
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
      </Dialog>

      <InstallUISequence>
        <Show Dialog="DotNetWarningDlg" After="AppSearch" Overridable="yes" >
          <![CDATA[Not(Installed OR NETFRAMEWORK45)]]>
        </Show>
      </InstallUISequence>
    </UI>
  </Fragment>
</Wix>