<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.grsoft.napoleon" 
      android:versionCode="1" android:versionName="@string/version">
      
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>  
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-feature android:name="android.hardware.camera" />
    
    <!-- Camera features. I think it can bring an installation problem 
    	
 		<uses-feature android:name="android.hardware.camera.autofocus" />  
 		-->
 	
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
 	
    <application android:label="@string/app_name" 
    	android:icon="@drawable/pictograms"
    	android:debuggable="true"
    	android:name="com.grsoft.napoleon.NapoleonApp"
        android:theme="@style/Napoleon">
        <activity android:label="@string/app_name" android:name="com.grsoft.napoleon.Napoleon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		
		<uses-library android:name="android.test.runner" />
		
		<activity android:name="com.grsoft.napoleon.Configuration"></activity>
		<activity android:configChanges="keyboardHidden|orientation" android:name="com.grsoft.napoleon.UpdateDB"></activity>
		<activity android:name="com.grsoft.napoleon.VisitEdit"></activity>
		<activity android:name="com.grsoft.napoleon.Documents"></activity>
		<activity android:name="com.grsoft.napoleon.CreateOrder"></activity>
		<activity android:name="Warehouse"></activity>
		<activity android:name="com.grsoft.napoleon.PriceCountEx"></activity>
		<activity android:name="OrderDetailEx"></activity>
		<activity android:name="DeliveryDetail"></activity>
		<activity android:name="VisitEdit" />
		<activity android:name="CameraPreview"></activity>
		<activity android:name="DocList"></activity>
		<activity android:name="Messages"></activity>
		<activity android:name="RemnantsDetail"></activity>
		<activity android:name="Setting" android:configChanges="keyboardHidden|orientation"></activity>
		<activity android:name="PhotoSetting"></activity>
		<activity android:name="BehaviorSetting"></activity>
		<activity android:name="GpsSetting"></activity>
		<activity android:name="MainPage"></activity>
		<activity android:name="AddPage"></activity>
		<service android:name="com.grsoft.util.NapoleonService"></service>
		<activity android:name="Presentation"></activity>
		<activity android:name="PricePresentation"></activity>
		<activity android:name="WarehouseSetting"></activity>
		
		<receiver android:enabled="true" 
			android:permission="android.permission.RECEIVE_BOOT_COMPLETED" 
			android:name="com.grsoft.util.BootUpReceiver">

        	<intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
        	</intent-filter>
		</receiver>
		
		<receiver android:name="com.grsoft.util.SystemActionReciever" 
 			android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
 		
			<intent-filter>
				<action android:name="android.location.PROVIDERS_CHANGED"/>
				<action android:name="android.intent.action.TIME_SET"/>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
				<action android:name="android.intent.action.ACTION_SHUTDOWN"/>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</receiver>
  
  		<activity android:name=".CrashReport"></activity>
  		<activity android:name="DocListEx"></activity>
		<activity android:name="PotenzialOrg"></activity>
		<activity android:name="TaskForm"></activity>
		<activity android:name="FocusItemEditor"></activity>
		<activity android:name="DocListEx"></activity>
		<activity android:name="CalendarActivity"/>
		<service android:name="com.grsoft.util.ReportService"/>
		<activity android:name="com.grsoft.napoleon.DocumentsEx"></activity>
		<activity android:configChanges="keyboardHidden|orientation" android:name="com.grsoft.napoleon.UpdateDBEx"></activity>


         <activity android:name="com.grsoft.network.BaseSimpleActivity" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.MoneyProxyForm" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.OrgTaskList" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.UpdateDBW" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.BehaviorSettingW" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.WarehouseSettingW" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.CreateReturn" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.PresentationFolderW" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.PresentationFolder" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.PriceCountW" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.QuestAnswer" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.QuestionWebView" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.script.ScriptEdit" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.DocumentsW" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.IncassDebDistrEdit" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.OrderDeliveryDetail" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.ReturnDetail" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.WarehouseNewW" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.WarehouseNew" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.PricePresentationFolder" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <service android:name="com.grsoft.util.NapoleonServiceW"/>
         <activity android:name="com.grsoft.napoleon.GPSGatherEdit" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.PriceCount" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.PriceCountBonus" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.ReportList" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.ReportParams" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.ReportView" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.ScriptsList" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.TaskDocList" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.DebetView" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.IncassEdit" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.WarehosueEx" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.Main" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.WhatNews" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.ActionView" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.ClaimEdit" android:configChanges="keyboard|keyboardHidden|orientation"/>
	</application>

    <instrumentation android:label="All Tests"
    				android:targetPackage="grsoft.napoleon" 
    				android:name="com.grsoft.tests.NapoleonInstrumentationTestRunner"/>

<uses-sdk android:minSdkVersion="7"></uses-sdk>
<supports-screens android:resizeable="true" />
</manifest> 