<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="@string/version" package="com.grsoft.napoleon" android:versionCode="5">
      
    <supports-screens android:resizeable="true"/>
    <uses-sdk android:minSdkVersion="4"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>  
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    
    <!-- Camera features. I think it can bring an installation problem 
    	
 		<uses-feature android:name="android.hardware.camera.autofocus" />  
 		-->
 	
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <!--  
    	<uses-permission android:name="android.permission.FLASHLIGHT"/>
    	<uses-feature android:name="android.hardware.camera.flash" />
 	-->
 	
    <application android:debuggable="true" android:icon="@drawable/pictograms" android:label="@string/app_name" android:name="com.grsoft.napoleon.NapoleonApp">
    
    	<receiver android:enabled="true" android:permission="android.permission.RECEIVE_BOOT_COMPLETED" android:name="com.grsoft.util.BootUpReceiver">

        	<intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
        	</intent-filter>
		</receiver>
    	
    	<activity android:label="@string/app_name" android:launchMode="singleTask" android:name="com.grsoft.napoleon.Napoleon2Ex">
        	
        	<intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
		
		<uses-library android:name="android.test.runner"/>
		<receiver android:name="com.grsoft.util.SystemActionReciever" 
 			android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
 		
			<intent-filter>
				<action android:name="android.location.PROVIDERS_CHANGED"/>
				<action android:name="android.intent.action.TIME_SET"/>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
				<action android:name="android.intent.action.ACTION_SHUTDOWN"/>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</receiver>
		
		
         <activity android:name="com.grsoft.napoleon.CrashReport" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.network.BaseSimpleActivity" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.GPSGatherEdit" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.CalendarActivity" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.CameraPreview" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.MoneyProxyForm" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.OrgTaskList" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.UpdateDBW" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.UpdateDB" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.UpdateDBPrint" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.UpdateDBEx" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.BehaviorSettingW" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.BehaviorSetting" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.Configuration" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.GpsSetting" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.PhotoSetting" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.WarehouseSettingW" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.WarehouseSetting" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.TextPrinterSetting" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.CreateReturn" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.PotenzialOrg" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.PresentationFolderW" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.PresentationFolder" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.PriceCountW" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.PriceCount" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.PriceCountEx" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.PriceCount2Ex" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.PricePresentation" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.QuestAnswer" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.QuestionWebView" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.ReportList" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.ReportParams" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.ReportView" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.script.ScriptEdit" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.DeliveryDetail" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.DocList" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.ScriptsList" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.DocListEx" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.DocumentsBase" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.DocumentsW" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.Documents" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.DocumentsPrint" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.DocumentsEx" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.Documents2Ex" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.FocusItemEditor" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.IncassEdit" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.IncassDebDistrEdit" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.IncassEditEx" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.Messages" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.Napoleon" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.NapoleonEx" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.OrderDeliveryDetail" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.ReturnDetail" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.SalesDetail" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.SalesDetailEx" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.Presentation" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.RemnantsDetail" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.TaskForm" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.VisitEdit" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.Warehouse" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.WarehouseNewW" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.WarehouseNew" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.WarehouseEx" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.CreateSales" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.PaInfo" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.PkoInfo" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.VanRestReport" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.CreateOrder" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.MovementEdit" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.MovementList" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.PricePresentationFolder" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.Setting" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <activity android:name="com.grsoft.napoleon.OrderDetail" android:configChanges="keyboard|keyboardHidden|orientation"/>
         <service android:name="com.grsoft.util.NapoleonServiceW"/>
         <service android:name="com.grsoft.util.NapoleonService"/>

</application>

    <instrumentation android:label="All Tests" android:name="com.grsoft.tests.NapoleonInstrumentationTestRunner" android:targetPackage="grsoft.napoleon"/>
</manifest>
